RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType uploads/jpeg "access plus 1 year"
  ExpiresByType uploads/gif "access plus 1 year"
  ExpiresByType uploads/png "access plus 1 year"
  ExpiresByType uploads/webp "access plus 1 year"
  ExpiresByType uploads/svg+xml "access plus 1 year"
  ExpiresByType uploads/x-icon "access plus 1 year"

  # Images
  ExpiresByType uploads/thumb/jpeg "access plus 1 year"
  ExpiresByType uploads/thumb/gif "access plus 1 year"
  ExpiresByType uploads/thumb/png "access plus 1 year"
  ExpiresByType uploads/thumb/webp "access plus 1 year"
  ExpiresByType uploads/thumb/svg+xml "access plus 1 year"
  ExpiresByType uploads/thumb/x-icon "access plus 1 year"


  # Images
  ExpiresByType uploads/images/jpeg "access plus 1 year"
  ExpiresByType uploads/images/gif "access plus 1 year"
  ExpiresByType uploads/images/png "access plus 1 year"
  ExpiresByType uploads/images/webp "access plus 1 year"
  ExpiresByType uploads/images/svg+xml "access plus 1 year"
  ExpiresByType uploads/images/x-icon "access plus 1 year"


  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType text/javascript "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>


